<!DOCTYPE html>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="static/main.js"></script>

<html lang="en" ng-app="DominionAI">
<head>
    <meta charset="UTF-8">
    <title>Dominion RL</title>
</head>
<body ng-controller="DominionAIController as ctrl">

<div>
    <h1>Turn <span ng-bind="ctrl.turn_num"></span></h1>

    <div>Kingdom: <span ng-bind="ctrl.kingdom"></span></div>
</div>

<br>

<div>Log:
    <span ng-bind="ctrl.play_log"></span>
</div>

<br>

<div>
    <h2 ng-if="ctrl.play_phase === -1">Opponent Action Phase</h2>
    <h2 ng-if="ctrl.play_phase === -2">Opponent Buy Phase</h2>
    <h2 ng-if="ctrl.play_phase === 1">Action Phase</h2>
    <h2 ng-if="ctrl.play_phase === 2">Buy Phase</h2>
</div>

<br>

<div>Hand:
    <span ng-bind="ctrl.person_hand"></span>
</div>

<div ng-if="ctrl.gameOver">Game Over!</div>
<button ng-if="ctrl.gameNotStarted" ng-click="ctrl.startGame()">Start Game</button>

<div ng-if="ctrl.play_phase === -1">
    <h3>Num Actions: <span ng-bind="ctrl.num_actions"></span></h3>

    <div ng-if="ctrl.num_actions > 0">
        Action Cards:
        <span ng-repeat="card in ctrl.action_cards" >
            {[card.name]}
        </span>
    </div>

    <br>

    <button ng-click="ctrl.agentNext()">Next</button>
</div>

<div ng-if="ctrl.play_phase === -2">
    <h3>Num Buys: <span ng-bind="ctrl.num_buys"></span></h3>

    <div ng-if="ctrl.num_buys > 0">
        Purchaseable:
        <span ng-repeat="card in ctrl.purchaseable_cards" >
            {[card.name]}
        </span>
    </div>

    <br>

    <button ng-click="ctrl.agentNext()">Next</button>
</div>

<div ng-if="ctrl.play_phase === 1">
    <h3>Num Actions: <span ng-bind="ctrl.num_actions"></span></h3>

    <div ng-if="ctrl.num_actions > 0">
        Action Cards:
        <span ng-repeat="card in ctrl.action_cards" >
            <button ng-click="ctrl.playCard(card.id)">{[card.name]}</button>
        </span>
    </div>

    <br>

    <button ng-click="ctrl.endActionPhase()">End Action Phase</button>
</div>

<div ng-if="ctrl.play_phase === 2">
    <h3>Num Buys: <span ng-bind="ctrl.num_buys"></span></h3>

    <div ng-if="ctrl.num_buys > 0">
        Purchaseable:
        <span ng-repeat="card in ctrl.purchaseable_cards" >
            <button ng-click="ctrl.buyCard(card.id)">{[card.name]}</button>
        </span>
    </div>

    <br>

    <button ng-click="ctrl.endTurn()">End Turn</button>
</div>

</body>
</html>